<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="approve">
	
	<select id="list" resultType="ApproveDto">
		select * from appr order by appr_date desc
	</select>
	
	<delete id="cancel">
		delete appr where appr_no in(
			select a.appr_no from appr a 
		join appr_path ap on a.appr_no = ap.appr_no where ap.path_status ='R'
		) and appr_sender = #{empNo}
	</delete>
	
	<insert id="save">
		insert into appr(appr_no, appr_sender, dept_no, appr_title, appr_content, appr_date, 
			appr_division, appr_receiver) values(appr_seq.nextval, #{apprSender}, #{deptNo},
			#{apprTitle}, #{apprContent}, sysdate, #{apprDivision}, #{apprReceiver})
	</insert>

<!-- 	<update id="edit"> -->
<!-- 		update appr -->
		
<!-- 		where appr_sender -->
<!-- 	</update> -->

</mapper>