<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="attend">
	
	<!-- C 등록 -->
	<!-- 출근 버튼 눌렀을 때 -->
	<insert id="save">
		insert into attend(emp_no, ATTEND_NO, ATTEND_START) values(#{empNo}, attend_seq.nextval, sysdate)
	</insert>
	
	<!-- U 수정 -->
	<!-- 퇴근 버튼 눌렀을 때 -->
	<update id="update">
		update attend set attend_end = sysdate where emp_no = #{empNo}
		and trunc(attend_start) = trunc(sysdate)
	</update>
	
	<!-- R 목록, 상세 -->
	<!-- 사번별로 지정한 기간으로 날짜가 생성되고, 근무시간이 추가돼서 나오는 구문 -->
	<select id="selectListByEmpNo" resultType="AttendWorkingTimesVO">
		select
    		tmp.dt,
    		att.attend_no,
    		att.emp_no,
    		att.attend_start,
    		att.attend_end,
    		nvl((att.attend_end - att.attend_start) * 24, 0) as working_times
		from (
    		select
        		trunc(to_date(#{attendBeginDate}, 'YYYY-MM-DD') + (level - 1)) as dt
    		from dual
    		<![CDATA[
    			connect by level
    			<= to_date(#{attendEndDate}, 'YYYY-MM-DD') - to_date(#{attendBeginDate}, 'YYYY-MM-DD') + 1
    		]]>
		) tmp
		left join (
    		select *
    		from attend
    		where emp_no = #{empNo}
		) att on to_char(tmp.dt, 'YYYY-MM-DD') = to_char(att.attend_start, 'YYYY-MM-DD')
		order by tmp.dt desc
	</select>
</mapper>