<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="attend">
	
	<!-- C 등록 -->
	<!-- 출근 버튼 눌렀을 때 -->
	<insert id="save">
		insert into attend(emp_no, ATTEND_NO, ATTEND_START) values(#{empNo}, attend_seq.nextval, sysdate)
	</insert>
	
	<!-- U 수정 -->
	<!-- 퇴근 버튼 눌렀을 때 -->
	<update id="update">
		update attend set attend_end = sysdate where emp_no = #{empNo}
	</update>
	
	<!-- R 목록, 상세 -->
	<!-- 출근전, 출근중, 퇴근완료 -->	
	
		
	<!-- 사번별로 근태 조회 -->
	
	
	
	
</mapper>