<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com">
    
    <insert id="addCom">
    insert into com(com_id,com_pw,com_name,com_post,com_addr,com_tel,com_bs,com_region,com_email) 
		values(#{comId},#{comPw},#{comName},#{comPost},#{comAddr},#{comTel},#{comBs},#{comRegion},#{comEmail})
    </insert>
    
    <insert id="comImage">
    	insert into company_image(com_id, attach_no) values(#{comId}, #{attachNo})
    </insert>
    
    <select id="findImage" resultType="attachDto">
    	select * from attach where attach_no=(
    		select attach_no from company_image 
    		where com_id = #{comId}
    	)
    </select>
    
    <update id="editCom">
    	update com 
    	<set>
	    	<if test="companyDto.comPw != null">
	    		com_pw = #{companyDto.comPw},
	    	</if>
	    	<if test="companyDto.comName != null">
	    		com_name = #{companyDto.comName},
	    	</if>
	    	<if test="companyDto.comPost != null">
	    		com_post  = #{companyDto.comPost},
	    	</if>
	    	<if test="companyDto.comAddr != null">
	    		com_addr = #{companyDto.comAddr},
	    	</if>
	    	<if test="companyDto.comTel != null">
	    		com_tel = #{companyDto.comTel},
	    	</if>
	    	<if test="companyDto.comBs != null">
	    		com_bs = #{companyDto.comBs},
	    	</if>
	    	<if test="companyDto.comRegion != null">
	    		com_region = #{companyDto.comRegion},
	    	</if>
	    	<if test="companyDto.comEmail != null">
	    		com_Email = #{companyDto.comEmail},
	    	</if>
    	</set>
    	where com_id = #{comId}
    </update>
    
    </mapper>