<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dept">
	<insert id="addDept">
		insert into dept(com_id,dept_no, dept_name)
		values(#{comId},dept_seq.nextval,#{deptName})
	</insert>
	<select id="listByCompany" resultType="deptVo">
		select
		d.dept_no,
		d.dept_name,
		count(emp_no) as emp_count
		from dept d
		left outer join com c on d.COM_ID =c.COM_ID
		left outer join emp e on d.DEPT_NO = e.DEPT_NO
		where c.com_id = #{comId} 
		group by d.dept_no, d.dept_name
		order by dept_name

	</select>
	
	<update id="update">
	update dept set dept_name = #{deptDto.deptName} where dept_no=#{deptNo}
	</update>
	


</mapper>