<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emp">

	<select id="sequence" resultType="int">
		select emp_seq.nextval from
		dual
	</select>

	<insert id="addEmp">

		insert into
		emp(com_id,dept_no,emp_no,emp_name,emp_pw,emp_tel,emp_position_no,emp_email)
		values(#{comId},#{deptNo},#{empNo},#{empName},#{empPw},#{empTel},#{empPositionNo},#{empEmail})

	</insert>

	<update id="updateEmpId">
		update emp set emp_id= to_char((select emp_join from
		emp where
		emp_no=#{empNo}),'YYYY')||
		to_char((select dept_no from emp
		where emp_no=#{empNo}),'fm00') ||
		to_char((select emp_no from emp where
		emp_no=#{empNo}),'fm000') where emp_no=#{empNo}

	</update>

	<!-- 이게 전체리스트 -->
	<select id="empList" resultType="EmpDto">
		select * from emp

	</select>

	<delete id="deleteEmp">
		delete from emp where emp_no =#{empNo}
	</delete>

	<!-- 사원 복합수정 -->
	<update id="empInfoUpdate">
		update emp
		<set>
			<if test="empDto.empExit != null">
				emp_exit = sysdate,
			</if>
			<if test="empDto.empName != null">
				emp_name = #{empDto.empName},
			</if>
			<if test="empDto.empPw != null">
				emp_pw = #{empDto.empPw},
			</if>
			<if test="empDto.deptNo > 0">
				dept_no = #{empDto.deptNo},
			</if>
			<if test="empDto.empTel != null">
				emp_tel = #{empDto.empTel},
			</if>
			<if test="empDto.empPositionNo > 0">
				emp_position_no = #{empDto.empPositionNo},
			</if>
			<if test="empDto.empEmail != null">
				emp_email = #{empDto.empEmail},
			</if>

		</set>
		where emp_no = #{empNo}
	</update>


	<select id="complexSearch" resultType="EmpComplexSearchVO">

		select
		e.emp_no,
		e.COM_ID ,
		c.com_name,
		e.dept_no ,
		d.dept_name,
		e.emp_position_no,
		ep.emp_position_name,
		e.emp_no,
		e.emp_id,
		e.EMP_NAME ,
		e.emp_exit,
		e.emp_tel,
		e.emp_email
		from
		emp e
		left outer join dept d on e.dept_no = d.dept_no
		left outer join com c on e.com_id = c.com_id
		left outer join
		emp_position ep on e.emp_position_no = ep.emp_position_no
		<where>
			<if test="deptNo > 0">
				and d.dept_no = #{deptNo}
			</if>

			<if test="comId != null">
				and e.com_id = #{comId}
			</if>

			<if test="comName != null">
				and c.com_name = #{comName}
			</if>
			
		</where>



	</select>


	<select id="selectOne" resultType="empDto">

		select * from emp where emp_id
		= #{empDto.empId}

	</select>

	<select id="selectIdByNo" resultType="empDto">
		select * from emp where
		emp_no = #{empNo}
	</select>

	<select id="selectBydeptAndCom"
		resultType="EmpSearchBydeptComVO">
		select 
		e.dept_no, 
		e.com_id, 
		ep.EMP_POSITION_NAME, 
		e.emp_position_no,
		e.EMP_NAME, 
		e.EMP_TEL, 
		e.emp_email, 
		e.emp_id, 
		e.emp_join, 
		e.emp_exit,
		s.sal_annual
		from emp e
		left outer join EMP_POSITION ep on e.EMP_Position_NO = ep.EMP_POSITION_no
		left outer join sal s on e.emp_no = s.emp_no
		where
		e.DEPT_NO =#{deptNo} and e.com_id=#{comId}
		order by
		ep.emp_position_order
	</select>

	<!-- 부서이동시 아이디변경 -->
	
	
	
	
	
	<update id="changeEmpId">
		update emp set emp_id= to_char((select emp_join from
		emp where
		emp_id=#{empId}),'YYYY')||
		to_char((select dept_no from emp
		where emp_id=#{empId}),'fm00') ||
		to_char((select emp_no from emp where
		emp_id=#{empId}),'fm000') where emp_id=#{empId}

	</update>
	
	
		
	<update id="changeDetp">
		update emp set dept_no = #{empDto.deptNo} where emp_id=#{empId}
	</update>

	<update id="updateExit">
		update emp set emp_exit= #{empDto.empExit} where emp_id=#{empId}
	</update>
	
	
	
	
	<insert id="setToken">
	insert into token(id, token) values(token_seq.nextval, #{token})
	</insert>
	
	
	<select id="findtoken" resultType="empToken">
	select * from token where token= #{token}
	</select>
	
	
	<select id="updatePw"></select>





</mapper>