<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empcal">
	<select id="empCalList" resultType="empCalDto">
		select * from cal_emp where
		emp_no = #{empNo}
	</select>

	<insert id="add">
		insert into cal_emp(cal_no, emp_no, cal_title, cal_content,cal_start_date ,cal_end_date , cal_color)
		values
		(cal_no_seq.nextval, #{empNo}, #{calTitle}, #{calContent},#{calStartDate} ,#{calEndDate},#{calColor})
	</insert>
	
	<select id="empCalDetail" resultType="empCalDto">
		select * from cal_emp where cal_no =#{calNo}
	</select>
	
	<update id="update">
		update cal_emp set cal_title=#{calTitle} where cal_no=#{calNo}
	</update>
	
	<select id="calDetail" resultType="empCalDto">
		select * from cal_emp where cal_no=#{calNo}
	</select>
	
</mapper>