<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="position">
    	<select id="list" resultType="EmpPositionDto">
    	select * from emp_position 
    	</select>
    	
    	<insert id="addPosition">
    	insert into emp_position(emp_position_no, emp_position_name, emp_position_order,com_id)
    	values(emp_position_seq.nextval,#{empPositionName},#{empPositionOrder},#{comId})
    	</insert>
    	
    </mapper>