<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="emp_profile">
    
    	<select id="sequence" resultType="int">
    		select emp_profile_seq.nextval from dual
    	</select>
    	
    	<select id="findProfileNo" resultType="int">
    		select profile_no from emp_profile where emp_no = #{empNo}
    	</select>
    	
    
    	<insert id="addProfile">
    		insert into emp_profile(
    			profile_no, emp_no, profile_title, profile_content) 
    			values(#{profileNo}, #{empNo}, #{profileTitle}, #{profileContent})
    	</insert>

    	<insert id="profileImage">
    		insert into profile_image(emp_no, attach_no) 
    		values(#{empNo}, #{attachNo})
    	</insert>

    	
    	<select id="findImage" resultType="AttachDto">
    		select * from attach where attach_no=(
    			select attach_no from profile_image 
    			where emp_no = #{empNo}
    		)
    	</select>
    	
    	<select id="joinProfileAll" resultType="ProfileInfoVO">
    		select 
				p.profile_no,
				e.emp_no,
				d.dept_name,
				ep.emp_position_name,
				e.emp_name,
				e.emp_tel,
				e.emp_email,
				e.emp_join,
				p.profile_title,
				p.profile_content, 
				a.attach_no
			from 
				emp_profile p 
				join emp e on e.emp_no = p.emp_no 
				LEFT JOIN dept d ON e.dept_no = d.dept_no 
    			LEFT JOIN emp_position ep ON e.emp_position_no = ep.emp_position_no 
    			left join profile_image pi on pi.emp_no = e.emp_no 
    			left join attach a on a.attach_no = pi.attach_no 
    		order by emp_no asc
    	</select>
    	
    	
    	<select id="joinProfileOne" resultType="ProfileInfoVO">
    		select 
				p.profile_no,
				e.emp_no,
				d.dept_name,
				ep.emp_position_name,
				e.emp_name,
				e.emp_tel,
				e.emp_email,
				e.emp_join,
				p.profile_title,
				p.profile_content, 
				a.attach_no
			from 
				emp_profile p 
				join emp e on e.emp_no = p.emp_no 
				LEFT JOIN dept d ON e.dept_no = d.dept_no 
    			LEFT JOIN emp_position ep ON e.emp_position_no = ep.emp_position_no 
    			left join profile_image pi on pi.emp_no = e.emp_no 
    			left join attach a on a.attach_no = pi.attach_no
    		where p.emp_no=#{empNo}
    	</select>
    	
    	
<!--     	<update id="editProfile"> -->
<!--     		update emp_profile  -->
<!--     		<set> -->
<!--     		<if test="vo.empTel != null"> -->
<!--     			emp_tel = #{vo.empTel}, -->
<!--     		</if> -->
<!--     		<if test="vo.empEmail != null"> -->
<!--     			emp_email = #{vo.empEmail}, -->
<!--     		</if> -->
<!--     		<if test="vo.profileTitle != null"> -->
<!--     			profile_title = #{vo.profileTitle}, -->
<!--     		</if> -->
<!--     		<if test="vo.profileContent != null"> -->
<!--     			profile_content = #{vo.profileContent} -->
<!--     		</if> -->
<!--     		</set> -->
<!--     		where emp_no = #{empNo} -->
<!--     	</update> -->

		<update id="editEmp">
			update emp 
			<set>
				<if test="vo.empTel != null">
    				emp_tel = #{vo.empTel},
    			</if>
    			<if test="vo.empEmail != null">
    				emp_email = #{vo.empEmail},
    			</if>
			</set>
    		where emp_no = #{empNo}
		</update>
		
		<update id="editProfile">
    		update emp_profile 
    		<set>
    		<if test="vo.profileTitle != null">
    			profile_title = #{vo.profileTitle},
    		</if>
    		<if test="vo.profileContent != null">
    			profile_content = #{vo.profileContent}
    		</if>
    		</set>
    		where emp_no = #{empNo}
    	</update>
    	
    	<update id="editImage">
    		update profile_image where profile_no = #{profileNo}
    	</update>

    	
    </mapper>