<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="emp_profile">
    
    	<select id="sequence" resultType="int">
    		select emp_profile_seq.nextval from dual
    	</select>
    	
<!--     	<insert id="addProfile"> -->
<!--     		insert into emp_profile( -->
<!--     			profile_no, emp_no, profile_title, profile_content -->
<!--     		) values( -->
<!--     			#{profileNo}, #{empNo},  -->
<!--     			#{profileTitle},  -->
<!--     			#{profileContent} -->
<!--     		) -->
<!--     	</insert> -->
    
    	<insert id="addProfile">
    		insert into emp_profile(
    			profile_no, emp_no, profile_title, profile_content
    		) values(
    			#{profileNo}, #{empNo}, 
    			<if test="profileTitle == null">
            		'나를 소개하는 제목을 입력하세요.'
        		</if>
        		<if test="profileTitle != null">
            		#{profileTitle, jdbcType=VARCHAR, javaType=String}
        		</if>,
       		 	<if test="profileContent == null">
            		'나를 소개하는 내용을 입력하세요.'
        		</if>
        		<if test="profileContent != null">
            		#{profileContent, jdbcType=VARCHAR, javaType=String}
        		</if>
    			)
    	</insert>

    		<insert id="profileImage">
    			insert into profile_image(profile_no, attach_no) 
    			values(
    				#{profileNo}, 
    				#{attachNo}
    				)
    		</insert>
    	
<!--     	<insert id="profileImage"> -->
<!--     		insert into profile_image(profile_no, attach_no)  -->
<!--     		values( -->
<!--     			#{profileNo},  -->
<!--     			#{attachNo, jdbcType=INTEGER, javaType=Integer, mode=IN, value=1} -->
<!--     			) -->
<!--     	</insert> -->
    	
    	<select id="findImage" resultType="attachDto">
    		select * from attach where attach_no=(
    			select attach_no from profile_image 
    			where profile_no = #{profileNo}
    		)
    	</select>
    	
    	<update id="editProfile">
    		update emp_profile 
    		<set>
    		<if test="profileDto.profileTitle != null">
    			profile_title = #{profileDto.profileTitle},
    		</if>
    		<if test="profileDto.profileContent != null">
    			profile_content = #{profileDto.profileContent}
    		</if>
    		</set>
    		where profile_no = #{profileNo}
    	</update>
    	
    </mapper>