<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="receivers">

	<select id="sequence" resultType="int">
		select receivers_seq.nextval from dual
	</select>
	
	<select id="findByPathNo" resultType="ReceiversDto">
		select * from receivers where path_no = #{pathNo}
	</select>
	
	<select id="findByPathNoAndReceiver" resultType="ReceiversDto">
		select * from receivers where path_no = #{pathNo} and receivers_receiver = #{receiversReceiver}
	</select>
	
	<insert id="receiversSave">
		insert into receivers(receivers_no, path_no, receivers_receiver) 
		values(#{receiversNo}, #{pathNo}, #{receiversReceiver})
	</insert>
	
	<update id="approveConfirm">
		update receivers 
		<set>
			<if test="dto.receiversNo >0" >
				receivers_no = #{dto.receiversNo},
			</if>
			<if test="dto.receiversStatus !=null">
				receivers_status ='Y',	
			</if>
			 RECEIVERS_CONFIRM_TIME = SYSDATE ,
			<if test="dto.receiversReturnRs != null">
			  receivers_return_rs= #{receiversReturnRs} 
			</if>
		</set> 
		where path_no= #{pathNo} and receivers_receiver = #{receiversReceiver}
	</update>
	
	<update id="approveCancel">
		update receivers 
		<set>
			<if test="dto.receiversNo >0" >
				receivers_no = #{dto.receiversNo},
			</if>
			<if test="dto.receiversStatus !=null">
				receivers_status ='N',	
			</if>
			 RECEIVERS_CONFIRM_TIME = SYSDATE ,
			<if test="dto.receiversReturnRs != null">
			  receivers_return_rs= #{receiversReturnRs} 
			</if>
		</set> 
		where path_no= #{pathNo} and receivers_receiver = #{receiversReceiver}
	</update>
	
</mapper>