<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="sal">
    
    	<insert id="add">
    		<![CDATA[
    		insert into sal(emp_no, sal_annual, sal_time)
    		values(#{empNo}, #{salAnnual}, trunc(#{salAnnual} / (12*4*40)) )
    		 ]]>
    	</insert>
    	
    	<select id="list" resultType="SalDto">
    		select * from sal order by emp_no asc
    	</select>
    	
    	<select id="find" resultType="SalDto">
    		select * from sal where emp_no = #{empNo}
    	</select>
    	
    	<update id="change">
    		update sal 
    		set
    		<if test="salDto.empNo > 0">
    			emp_no=#{salDto.empNo}
    		</if>
    		sal_annual=#{salDto.salAnnual}, sal_time=#{salDto.salTime}
    		where emp_no=#{empNo}
    	</update>
    	
    	 <select id="selectLatestSalNo" parameterType="int" resultType="int">
		        select max(sal_no)
		        from sal
		        where emp_no = #{empNo}
		    </select>
    	
    	
    </mapper>
    
    
    
    
    
    
    
    
    
    
    