<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="search">

	<select id="search" resultType="searchVO">

		select
		e.COM_ID ,
		c.com_name,
		e.dept_no ,
		d.dept_name,
		ep.emp_position_name,
		e.emp_no,
		e.emp_id,
		e.EMP_NAME,
		s.SAL_ANNUAL,
		e.emp_tel,
		e.emp_email
		from
		emp e
		left outer join dept d on e.dept_no =
		d.dept_no
		left outer join com c on e.com_id = c.com_id
		left outer join
		sal s on s.EMP_NO = e.EMP_NO
		left outer join emp_position ep on
		e.emp_position_no = ep.emp_position_no
		<where>
			<if test="comId != null">
				c.com_id = #{comId}
			</if>
			<if test="deptNo != 0">
				d.dept_no = #{deptNo}
			</if>
			<if test="empName != null">
				e.emp_name = #{empName}
			</if>
		</where>


	</select>
	<select id="search2" resultType="searchVO">

		SELECT * FROM (
		SELECT ROWNUM rn, TMP.*
		FROM (

		SELECT
		e.COM_ID,
		c.com_name,
		e.dept_no,
		e.emp_join,
		e.emp_exit,
		d.dept_name,
		e.emp_position_no,
		ep.emp_position_name,
		e.emp_no,
		e.emp_id,
		e.EMP_NAME,
		e.emp_tel,
		e.emp_email
		FROM
		emp e
		LEFT OUTER JOIN dept d ON
		e.dept_no =
		d.dept_no
		LEFT OUTER JOIN com c ON e.com_id = c.com_id
		LEFT
		OUTER JOIN
		sal s ON s.EMP_NO = e.EMP_NO
		LEFT OUTER JOIN emp_position ep
		ON
		e.emp_position_no = ep.emp_position_no
		<where>
			<if test="keyword != null and select !=null">
				${select} LIKE CONCAT(#{keyword}, '%')
			</if>
			<if test="comId != null">
				and c.com_id = #{comId}
			</if>
			<if test="deptNo != 0">
				and d.dept_no = #{deptNo}
			</if>
			<if test="empName != null">
				and e.emp_name = #{empName}
			</if>

			<if test="joinStart != null">
				and e.emp_join >= #{joinStart}
			</if>

			<if test="joinEnd != null">
   			<![CDATA[
        		and e.emp_join <= #{joinEnd}
   			]]>
			</if>

		</where>
		)TMP
		)where rn
		<if test="page ==0">
			BETWEEN 1 and #{size}
		</if>
		<if test="page !=0">
			BETWEEN (#{page} - 1) * #{size} + 1 AND #{page} * #{size}
		</if>

		order by dept_name,emp_name
	</select>

	<select id="count" resultType="int">

		select
		count(e.com_Id) as emp_count
		from
		emp e
		left outer join dept d on e.dept_no = d.dept_no
		left outer
		join com c on e.com_id = c.com_id
		left outer join
		sal s on s.EMP_NO =
		e.EMP_NO
		left outer join emp_position ep on
		e.emp_position_no =
		ep.emp_position_no where e.com_id = #{comId}


	</select>



	<select id="pageCount" resultType="int">
		SELECT COUNT(*)
		FROM emp e
		LEFT OUTER JOIN dept d ON e.dept_no = d.dept_no
		LEFT OUTER JOIN com c ON e.com_id = c.com_id
		LEFT OUTER JOIN sal s ON s.EMP_NO = e.EMP_NO
		LEFT OUTER JOIN emp_position ep ON e.emp_position_no = ep.emp_position_no
		<where>
			<if
				test="searchVO.keyword != null and searchVO.type != null">
				${searchVO.type} LIKE CONCAT(#{searchVO.keyword}, '%')
			</if>
			<if test="searchVO.comId != null">
				AND c.com_id = #{searchVO.comId}
			</if>
			<if test="searchVO.deptNo != 0">
				AND d.dept_no = #{searchVO.deptNo}
			</if>
			<if test="searchVO.empName != null">
				AND e.emp_name = #{searchVO.empName}
			</if>
			<if test="searchVO.joinStart != null">
				AND e.emp_join >= #{searchVO.joinStart}
			</if>
			<if test="searchVO.joinEnd != null">
            <![CDATA[
            AND e.emp_join <= #{searchVO.joinEnd}
            ]]>
			</if>
		</where>
	</select>


<select id="pagingList" resultType="SearchVO">
    SELECT *
    FROM (
        SELECT ROWNUM rn, TMP.*
        FROM (
            SELECT
                e.COM_ID,
                c.com_name,
                e.dept_no,
                e.emp_join,
                e.emp_exit,
                d.dept_name,
                e.emp_position_no,
                ep.emp_position_name,
                e.emp_no,
                e.emp_id,
                e.EMP_NAME,
                e.emp_tel,
                e.emp_email
            FROM emp e
                LEFT OUTER JOIN dept d ON e.dept_no = d.dept_no
                LEFT OUTER JOIN com c ON e.com_id = c.com_id
                LEFT OUTER JOIN sal s ON s.EMP_NO = e.EMP_NO
                LEFT OUTER JOIN emp_position ep ON e.emp_position_no = ep.emp_position_no
            <where>
                <if test="searchVO.keyword != null and searchVO.type != null">
                    AND ${searchVO.type} LIKE CONCAT(#{searchVO.keyword}, '%')
                </if>
                <if test="searchVO.comId != null">
                    AND c.com_id = #{searchVO.comId}
                </if>
                <if test="searchVO.deptNo != 0">
                    AND d.dept_no = #{searchVO.deptNo}
                </if>
                <if test="searchVO.empName != null">
                    AND e.emp_name = #{searchVO.empName}
                </if>
                <if test="searchVO.joinStart != null">
                    AND e.emp_join >= #{searchVO.joinStart}
                </if>
                <if test="searchVO.joinEnd != null">
                    <![CDATA[
                    AND e.emp_join <= #{searchVO.joinEnd}
                    ]]>
                </if>
            </where>
            ORDER BY dept_name, emp_name
        ) TMP
    ) WHERE rn
    <choose>
        <when test="pagenationVO.page == 0">
            BETWEEN 1 AND #{pagenationVO.size}
        </when>
        <otherwise>
            BETWEEN (#{pagenationVO.page} - 1) * #{pagenationVO.size} + 1 AND #{pagenationVO.page} * #{pagenationVO.size}
        </otherwise>
    </choose>
</select>


</mapper>
