<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="todo">
    
     <insert id="save">
        insert into todo (todo_no, emp_no, todo_content, todo_done)
        values (todo_seq.nextval, #{empNo}, #{todoContent}, #{todoDone})
    </insert>

    <select id="list" resultType="TodoDto">
        select * from todo where emp_no = #{empNo} order by todo_no desc
    </select>

    <select id="find" resultType="TodoDto">
        select * from todo where todo_no = #{todoNo}
    </select>

    <delete id="remove">
        delete from todo where todo_no = #{todoNo}
    </delete>

    <update id="change">
        update todo set
        <if test="todoDto.empNo > 0">
            emp_no = #{todoDto.empNo},
        </if>
        todo_content = #{todoDto.todoContent},
        todo_done = #{todoDto.todoDone}
        where todo_no = #{todoDto.todoNo}
    </update>
    
    </mapper>
    
    